<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
        <target
            name="console_full"
            xsi:type="ColoredConsole"
            errorStream="true"
            layout="${pad:padding=1:fixedLength=true:inner=${level}} ${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffff} ${callsite}:${callsite-linenumber} ${message}${onexception:inner=${newline}Exception\:${newline}}${exception:format=toString,Data}">
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
            <highlight-word foregroundColor="DarkGray" regex="^([^ ]* ){3}" compileRegex="true" />
        </target>
        <target
            name="console"
            xsi:type="ColoredConsole"
            errorStream="true"
            layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffff} ${message}${onexception:inner=${newline}Exception\:${newline}}${exception:format=toString,Data}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
            <highlight-word foregroundColor="DarkGray" regex="^[^ ]* " compileRegex="true" />
        </target>
        <target
            name="file_full"
            xsi:type="File"
            fileName="${tempdir}/${appdomain:format={1\}}.${date:format=yyyyMMddHHmmss:cached=true}.log"
            layout="${pad:padding=1:fixedLength=true:inner=${level}} ${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffff} ${callsite}:${callsite-linenumber} ${message}${onexception:inner=${newline}Exception\:${newline}}${exception:format=toString,Data}">
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console_full" />
    </rules>
</nlog>