<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="PimixServerApiAddress" value="http://mac.pimix.org/api"/>
    <add key="PimixServerCredential" value=""/>
    <add key="PimixPathPattern" value="/allfiles/{Hostname}{LocalPath}"/>
    <add key="PathPrefix" value=""/>
    <add key="Site" value=""/>
  </appSettings>
</configuration>
