<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="PimixServerApiAddress" value="http://www.pimix.tk/api"/>
    <add key="PimixServerCredential" value=""/>
    <add key="PathMap" value="" />
    <add key="DefaultNetworkDomain" value=""/>
    <add key="DefaultNetworkUserName" value=""/>
    <add key="DefaultNetworkPassword" value=""/>
    <add key="BufferSize" value="32MB"/>
  </appSettings>
</configuration>
