<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target
      name="console"
      xsi:type="ColoredConsole"
      errorStream="true"
      layout="${pad:padding=1:fixedLength=true:inner=${level}}${date:format=yyyy-MM-ddTHH\:mm\:ss.ffff}${callsite:className=false:fileName=true:includeSourcePath=false:methodName=false} ${message}${onexception:inner=${newline}Exception\:${newline}}${exception:format=toString,Data}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
