<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="PimixServerApiAddress" value="http://pimix.cloudapp.net/api"/>
    <add key="PimixServerCredential" value=""/>
    <add key="ClientName" value="pimix"/>
    <add key="HeartbeatInterval" value="10min"/>
  </appSettings>
</configuration>
