<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="PimixServerApiAddress" value="http://api.pimix.org/api"/>
    <add key="PimixServerCredential" value=""/>
    <add key="StorageServerOrder" value=""/>
    <add key="BufferSize" value="32MB"/>
  </appSettings>
</configuration>
